[Unit]
Description=Gamocosm daily processes

[Service]
Type=oneshot
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/certbot renew
ExecStart=/usr/bin/systemctl restart nginx
ExecStart=/usr/bin/systemctl restart container-gamocosm-puma
ExecStart=/usr/bin/systemctl restart container-gamocosm-sidekiq
ExecStart=/usr/bin/curl --silent --show-error --output /dev/null https://gamocosm.com
ExecStart=/usr/bin/bash /root/gamocosm/sysadmin/backup.sh
