[Unit]
Description=Gamocosm daily processes

[Service]
Type=oneshot
StandardOutput=journal
StandardError=journal
ExecStart=/usr/local/bin/gamocosm-backup
ExecStart=/usr/bin/systemctl restart nginx
ExecStart=/usr/bin/systemctl restart container-gamocosm-puma
ExecStart=/usr/bin/systemctl restart container-gamocosm-sidekiq
ExecStart=/usr/bin/curl --silent --show-error --output /dev/null https://gamocosm.com
