[Unit]
Description=Gamocosm DNS Proxy (TCP)

[Service]
Type=simple
RestartSec=8
Restart=always
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/ncat --listen --keep-open 0.0.0.0 5354 --sh-exec 'ncat --idle-timeout 5 127.0.0.1 5353'

[Install]
WantedBy=multi-user.target
