[Unit]
Description=Gamocosm DNS Proxy (TCP)

[Service]
Type=simple
RestartSec=8
Restart=always
StandardOutput=journal
StandardError=journal
ExecStart=ncat --listen --keep-open --sh-exec 'ncat --idle-timeout 3 127.0.0.1 5301' 0.0.0.0 5303

[Install]
WantedBy=multi-user.target
