[Unit]
Description=Gamocosm DNS Proxy (UDP)

[Service]
Type=simple
RestartSec=8
Restart=always
StandardOutput=journal
StandardError=journal
ExecStart=ncat --listen --keep-open --udp --sh-exec 'ncat --idle-timeout 3 --udp 127.0.0.1 5302' 0.0.0.0 5304

[Install]
WantedBy=multi-user.target
