[Unit]
Description=Gamocosm Container %i
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/podman start --attach %i
ExecStop=/usr/bin/podman stop --time 16 %i
RestartSec=8
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=%i

[Install]
WantedBy=multi-user.target
