[Unit]
Description=Gamocosm Puma
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/usr/share/nginx/gamocosm
ExecStart=/usr/local/bin/run.sh bundle exec puma -C config/puma.rb
User=nginx
Group=nginx
Environment=RAILS_ENV=production
RestartSec=1
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gamocosm-puma

[Install]
WantedBy=multi-user.target
