[Unit]
Description=Gamocosm Puma
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/var/www/gamocosm
ExecStart=/var/www/gamocosm/run2.sh bundle exec puma -C config/puma.rb
User=nginx
Group=nginx
Environment=RAILS_ENV=production
RestartSec=1
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gamocosm-puma

[Install]
WantedBy=multi-user.target
