[Unit]
Description=Gamocosm Puma
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/home/gamocosm/gamocosm
ExecStart=/usr/local/bin/gamocosm-run.sh bundle exec puma -C config/puma.rb
User=gamocosm
Group=gamocosm
Environment=RAILS_ENV=production
RestartSec=1
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gamocosm-puma
RuntimeDirectory=gamocosm

[Install]
WantedBy=multi-user.target
