[Unit]
Description=Gamocosm Sidekiq
After=syslog.target network.target

[Service]
Type=notify
WatchdogSec=8
WorkingDirectory=/home/gamocosm/gamocosm
ExecStart=/usr/local/bin/gamocosm-run.sh bundle exec sidekiq -e production
ExecReload=/usr/bin/kill -TSTP $MAINPID
User=gamocosm
Group=gamocosm
Environment=RAILS_ENV=production
RestartSec=1
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gamocosm-sidekiq

[Install]
WantedBy=multi-user.target
