[Unit]
Description=Gamocosm Sidekiq
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
WatchdogSec=8
WorkingDirectory=/home/gamocosm/gamocosm
ExecStart=/usr/local/bin/gamocosm-run.sh bundle exec sidekiq -e production -c 4
ExecReload=/usr/bin/kill -TSTP $MAINPID
User=gamocosm
Group=gamocosm
Environment=RAILS_ENV=production
RestartSec=1
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gamocosm-sidekiq

[Install]
WantedBy=multi-user.target
