[Unit]
Description=Gamocosm Sidekiq

[Service]
Type=forking
PIDFile=/run/http/gamocosm-sidekiq.pid
User=http
WorkingDirectory=/var/www/gamocosm
Environment=RAILS_ENV=production
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir /var/run/http
ExecStartPre=/usr/bin/chown http:http /var/run/http
ExecStart=/home/http/bin/bundle exec sidekiq -d -L /var/www/gamocosm/log/sidekiq.log -P /run/http/gamocosm-sidekiq.pid
ExecStop=/home/http/bin/bundle exec sidekiqctl stop /run/http/gamocosm-sidekiq.pid >> /var/www/gamocosm/log/sidekiq.log 2>&1

[Install]
WantedBy=multi-user.target
