#!/bin/bash

# Development, test, and production
export DIGITAL_OCEAN_API_KEY=
export DIGITAL_OCEAN_SSH_PUBLIC_KEY_PATH="$HOME/.ssh/id_rsa.pub"
export DIGITAL_OCEAN_SSH_PRIVATE_KEY_PATH="$HOME/.ssh/id_rsa"
export DIGITAL_OCEAN_SSH_PRIVATE_KEY_PASSPHRASE=
export SIDEKIQ_ADMIN_USERNAME=test
export SIDEKIQ_ADMIN_PASSWORD=1234
export DATABASE_PASSWORD=
# Test, and production
export DEVISE_SECRET_KEY=1234
# Production only
export SECRET_KEY_BASE=
export DATABASE_HOST=localhost
export MEMCACHED_HOST=localhost
export SIDEKIQ_REDIS_URL="redis://localhost:6379/12"
export MAIL_SERVER_ADDRESS=
export MAIL_SERVER_PORT=
export MAIL_SERVER_DOMAIN=
export MAIL_SERVER_USERNAME=
export MAIL_SERVER_PASSWORD=

if [[ ":$PATH:" != *":$HOME/bin:"* ]]; then
	PATH="$PATH:$HOME/bin"
fi

if [[ "$RAILS_ENV" == "production" ]] && [[ "$1" != "--bundler" ]]; then
	ruby "$@"
else
	if [[ "$1" == "--bundler" ]]; then
		shift
	fi
	bundle exec "$@"
fi
