#!/bin/bash

# Development, test, and production
export DIGITAL_OCEAN_API_KEY=
export DIGITAL_OCEAN_SSH_PUBLIC_KEY_PATH="$HOME/.ssh/id_rsa.pub"
export DIGITAL_OCEAN_SSH_PRIVATE_KEY_PATH="$HOME/.ssh/id_rsa"
export DIGITAL_OCEAN_SSH_PRIVATE_KEY_PASSPHRASE=
export SIDEKIQ_ADMIN_USERNAME=test
export SIDEKIQ_ADMIN_PASSWORD=1234
export DATABASE_USER=gamocosm
export DATABASE_PASSWORD=
export DATABASE_HOST=
export MAIL_SERVER_ADDRESS=
export MAIL_SERVER_PORT=
export MAIL_SERVER_DOMAIN=
export MAIL_SERVER_USERNAME=
export MAIL_SERVER_PASSWORD=
export CLOUDFLARE_API_TOKEN=
export CLOUDFLARE_EMAIL=
export CLOUDFLARE_ZONE=
# Development only
export DEVELOPMENT_HOST=example.com
# Test, and production
export DEVISE_SECRET_KEY=1234abc
# Production only
export SECRET_KEY_BASE=
export DEVELOPER_EMAILS=
export BADNESS_SECRET=
