#!/bin/bash

export DIGITAL_OCEAN_API_KEY=
export DIGITAL_OCEAN_SSH_PUBLIC_KEY_PATH=$HOME/.ssh/id_rsa.pub"
export DIGITAL_OCEAN_SSH_PRIVATE_KEY_PATH="$HOME/.ssh/id_rsa"
export DIGITAL_OCEAN_SSH_PRIVATE_KEY_PASSPHRASE=
export SIDEKIQ_ADMIN_USERNAME=test
export SIDEKIQ_ADMIN_PASSWORD=1234
export DATABASE_PASSWORD=
export DEVISE_SECRET_KEY=1234
export SECRET_KEY_BASE=

if [[ "$RAILS_ENV" == "production" ]] && [[ "$1" != "--bundler" ]]; then
	ruby "$@"
else
	if [[ "$1" == "--bundler" ]]; then
		shift
	fi
	bundle exec "$@"
fi
