<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>
<body>
	<h1>Error trying to check/autoshutdown your server "<%= @server.name %>"</h1>
	We recommend you check your servers on <%= link_to 'Gamocosm', root_url %> and <%= link_to 'Digital Ocean', digital_ocean_control_panel_link %>.
	<br /><br />
	Please ensure that <code>enable-query=true</code> is set in your <code>server.properties</code>.
	<br /><br />
	There may be more information under "Server Logs" on your server on Gamocosm.
	<br /><br />
	If you could submit a bug report on <%= link_to 'GitHub', issues_link %>, that would be greatly appreciated.
	<br /><br />
	We sincerely apologize for the inconvenience!
</body>
</html>
