<div class="row">
	<div class="alert alert-warning">
		<h3>Error communicating with Digital Ocean</h3>
		We got the following error while retrieving information about your server on Digital Ocean: <%= @server.remote.error %>
		<br />
		If you are not the server admin, please contact him/her about it.
	</div>
</div>
