<% title 'New Server - Gamocosm' %>
<div class="row">
  <div class="col-sm-12">
		<div class="page-header">
			<h1>
        <%= link_to "Servers", servers_path %>
        <span class="fa fa-angle-right"></span>
				New Server
			</h1>
		</div>

    <%= render partial: 'create' %>
	</div>
</div>
