<% title 'New Server - Gamocosm' %>
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<%= breadcrumb_back_to_servers %>
			<h1>New Server</h1>
		</div>
		<%= render partial: 'create' %>
	</div>
</div>
