<% content_for :head %>
	<meta http-equiv="refresh" content="8" />
<% end %>
<div>
	<% if @server.pending_operation == 'starting' %>
		Your server is being created.
		<% if @server.remote_setup_stage == 0 %>
			This should take about four minutes (first time only).
		<% else %>
			This should take about a minute.
		<% end %>
	<% elsif @server.pending_operation == 'preparing' %>
		<% if @server.remote_setup_stage == 0 %>
			Your server is being set up.
		<% else %>
			Your server is being started.
		<% end %>
		<% if @server.remote_setup_stage == 0 %>
			This should take about four minutes (first time only).
		<% else %>
			This should take about a minute.
		<% end %>
		<br />
		Status:
		<% if @server.remote_ssh_setup_stage == 0 %>
			Connecting
		<% elsif @server.remote_ssh_setup_stage == 1 %>
			Connected
		<% elsif @server.remote_ssh_setup_stage == 2 %>
			Installing software
		<% elsif @server.remote_ssh_setup_stage == 3 %>
			Downloading vanilla Minecraft
		<% elsif @server.remote_ssh_setup_stage == 4 %>
			Finishing up
		<% end %>
	<% elsif @server.pending_operation == 'stopping' %>
		Your server is shutting down.
		This should take about 15 seconds.
	<% elsif @server.pending_operation == 'saving' %>
		Your server is being backed up.
		This should take about a minute.
	<% elsif @server.pending_operation == 'rebooting' %>
		Your server is being rebooted.
		This should only take a few seconds.
	<% else %>
		Hmmmm.
	<% end %>
	<br />
	This page will automatically refresh itself, but feel free to refresh this page yourself.
	<hr />
		<%= render partial: 'advanced' %>
	<hr />
	<%= link_to 'Delete', minecraft_server_path(@server), method: :delete, class: 'btn btn-danger' %>
</div>
