<div class="row">
	<div class="alert alert-warning">
		<% if @server.is_owner?(current_user) %>
			<h3>Add your Digital Ocean API Token</h3>
			<% if current_user.digital_ocean_missing? %>
				You have not entered your Digital Ocean API token.
				<% if @server.is_new? %>
					<strong>>If you are not a server admin, you can safely ignore this.</strong>
				<% end %>
			<% else %>
				The Digital Ocean API token you entered is invalid.
			<% end %>
			<%= link_to 'Read more', digital_ocean_setup_path %> about them or enter them <%= link_to 'here', edit_user_registration_path %>.
		<% else %>
			The owner for this server has not entered his/her Digital Ocean API token, or they are invalid.
			Please notify him/her to update it, as Gamocosm runs servers on Digital Ocean (we don't charge you).
			Read more about it <%= link_to 'here', digital_ocean_setup_path %>.
		<% end %>
	</div>
</div>
