<div class="row">
	<div class="col-sm-9">
		<%= panel_with_heading 'Tips' do %>
			<ul>
				<li>Stop the physical computer when no-one is playing.
				Digital Ocean charges you when the server is running.
				</li>
				<li>Stop Minecraft for backing up or downloading your world, or editing files (configuration, mods, plugins, etc.)
				</li>
				<li>For more information read the <%= link_to 'Help page', help_path %> or the <%= link_to 'wiki', wiki_path %></li>
			</ul>
		<% end %>
	</div>
</div>
