<div class="row">
	<div class="col-lg-9">
		<%= panel_with_heading 'Tips' do %>
			<ul>
				<li>Stop the server when no-one is playing.
				Digital Ocean charges you when the server is running (started).
				</li>
				<li>Pausing the server only stops the Minecraft instance.
				Use this when you want backup or download your world, or to edit Minecraft files (configuration, mods, plugins, etc.)
				</li>
				<li>For more information read the <%= link_to 'Help page', help_path %> or the <%= link_to 'wiki', wiki_path %></li>
			</ul>
		<% end %>
	</div>
</div>
