<div class="row">
	<div class="alert alert-warning">
		<% if @server.is_owner?(current_user) %>
			<h3>Add your Digital Ocean keys</h3>
			You have not entered your Digital Ocean keys. Digital Ocean is a cloud hosting platform that lets users create and destroy servers on the go, and charges per hour use. Gamocosm is just a tool that makes it easy to run Minecraft servers on Digital Ocean servers. Read more about it <%= link_to 'here', edit_user_registration_path %>
		<% else %>
			The owner for this server has not entered his/her Digital Ocean keys. Read more about it <%= link_to 'here', edit_user_registration_path %>
		<% end %>
	</div>
</div>
