<div class="row">
	<div class="col-sm-12">
		<h1>Servers <small>for steve@me.com</small></h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Name</td>
					<td>Domain / IP</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="#demo-server_show" class="anchor-page">terrafirmacraft</a>
					</td>
					<td>107.170.74.8</td>
					<td>active</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Server</h3>
			</div>
			<div class="panel-body">
				<form class="simple_form new_minecraft_server" id="new_minecraft_server" onsubmit="return false;">
					<div class="form-group string optional minecraft_server_name">
						<label class="string optional control-label" for="minecraft_server_name">Name</label>
						<div>
							<input class="string optional form-control" id="minecraft_server_name" name="minecraft_server[name]" size="32" type="text" />
						</div>
					</div>
					<div class="form-group select optional minecraft_server_digital_ocean_droplet_size_id">
						<label class="select optional control-label" for="minecraft_server_digital_ocean_droplet_size_id">Digital ocean droplet size</label>
						<div>
							<select class="select optional form-control" id="minecraft_server_digital_ocean_droplet_size_id" name="minecraft_server[digital_ocean_droplet_size_id]">
								<option value="66">512MB at 0.7 cents/hour (up to $5.0/month)</option>
								<option value="63">1GB at 1.5 cents/hour (up to $10.0/month)</option>
								<option value="62">2GB at 3.0 cents/hour (up to $20.0/month)</option>
								<option value="64">4GB at 6.0 cents/hour (up to $40.0/month)</option>
								<option value="65">8GB at 11.9 cents/hour (up to $80.0/month)</option>
								<option value="61">16GB at 23.8 cents/hour (up to $160.0/month)</option>
								<option value="60">32GB at 47.6 cents/hour (up to $320.0/month)</option>
								<option value="70">48GB at 71.4 cents/hour (up to $480.0/month)</option>
								<option value="69">64GB at 95.2 cents/hour (up to $640.0/month)</option>
							</select>
						</div>
					</div>
					<div class="form-group select optional minecraft_server_digital_ocean_droplet_region_id">
						<label class="select optional control-label" for="minecraft_server_digital_ocean_droplet_region_id">Digital ocean droplet region</label>
						<div>
							<select class="select optional form-control" id="minecraft_server_digital_ocean_droplet_region_id" name="minecraft_server[digital_ocean_droplet_region_id]">
								<option value="3">San Francisco 1</option>
								<option value="4">New York 2</option>
								<option value="5">Amsterdam 2</option>
								<option value="6">Singapore 1</option>
							</select>
						</div>
					</div>
					<a href="/digital_ocean/pricing">Digital Ocean pricing</a>
					<button class="btn btn-default pull-right" type="button">
						Next <i class="fa fa-chevron-right"></i>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Digital Ocean</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						This information is provided for you to make it easy to monitor your Digital Ocean account.
						<br />If you see orphaned servers or snapshots, you should log into <a href="/digital_ocean/control_panel">Digital Ocean&#39;s control panel</a> and delete them.
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h4>Droplets</h4>
						<table class="table table-striped">
							<tr>
								<td>gamocosm-minecraft-terrafirmacraft</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-6">
						<h4>Snapshots</h4>
						<table class="table table-striped">
							<tr>
								<td><em>You have no snapshots on Digital Ocean</em>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
