<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1>About</h1>
		</div>
		<p>
			Gamocosm is a service to simplify the process of hosting cloud Minecraft servers. It's totally free, as in <a href="http://www.debian.org/intro/free">free speech</a>!
		</p>
	</div>
</div>
