<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1>About</h1>
		</div>
		<p>
			Gamocosm is a service to simplify the process of hosting cloud Minecraft servers. It's totally free, as in <a href="http://www.debian.org/intro/free">free speech</a>! The developers of Gamocosm make no profit; you only pay Digital Ocean for the server hosting, and there aren't even ads on this website! As such, we encourage you to <a href="#TODO">donate</a>, as server costs are not cheap :)
		</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h2>How Gamocosm works</h2>
		<p>
			Gamocosm consists of two main parts: setting up servers, and starting and stopping cloud servers.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h2>Future?</h2>
	</div>
</div>
