<div class="page-header">
	<h1>About</h1>
</div>
<div class="row">
	<div class="col-sm-6 text-center">
		<h3>Digital Ocean is a cloud hosting provider</h3>
		<p>They allow users to create and destroy servers at any time.<br />
		They only charge per hour use. Gamocosm runs your servers on Digital Ocean.
		</p>
	</div>
	<div class="col-sm-6 text-center">
		<h3>Gamocosm makes it easy to run Minecraft servers</h3>
		<p>There is a lot of work to set up and manage cloud servers.<br />
		Gamocosm hides this from you. You just start and stop your server.
		</p>
	</div>
</div>
<br />
<br />
<div class="row">
	<div class="col-sm-6 text-center">
		<h3>Start and stop your servers anytime</h3>
		<p>You can stop your server when no-one is online.<br />
		When your server is stopped, you aren't charged anything.<br />
		You can give your friends access to start and stop the server too.
		</p>
	</div>
	<div class="col-sm-6 text-center">
		<h3>What are the downsides?</h3>
		<p>It takes longer to start and stop servers (about a minute),<br />
		and your IP address may change from time to time.<br />
		However, you can save a lot of money using per hour hosting!<br />
		</p>
	</div>
</div>
<br />
<br />
<div class="row">
	<div class="col-sm-6 text-center">
		<h3>What does per hour hosting mean?</h3>
		<p>If you play 2 hours a day with your friends every day,<br />
		you pay about 40 cents a month, instead of $5.
		</p>
	</div>
	<div class="col-sm-6 text-center">
		<h3>You own these servers</h3>
		<p>You don't pay us anything; you only pay Digital Ocean for the server costs.<br />
		You have full access to the server so you can do whatever you want with it.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Contact</h2>
		<p>
		Send us an email at contact at gamocosm daught com.
		Or join our IRC discussion in <code>gamocosm</code> on <code>irc.esper.net</code>.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Source</h3>
		<p>The source code is on <%= link_to 'GitHub', source_path %>. Feel free to fork and send a pull request!</p>
	</div>
</div>
