<% title 'Gamocosm Demo' %>
<% content_for :meta_description, 'Gamocosm control panel demo' %>
<%= link_to 'Back to homepage', root_path, class: 'btn-lg btn-default' %>
<hr />
<div id="demo-servers" class="row">
	<h1 class="text-center">Minecraft Demo</h1>
</div>
<div class="row">
	<div class="col-sm-12">
		<%= render file: 'servers/show' %>
	</div>
</div>
