<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1>FAQ</h1>
		</div>
		<dl>
			<dt>Why does it take so long to start/stop a server?</dt>
				<dd>Cloud hosting providers continue to charge you when your server is off, because resources are still allocated for you. What you can do is backup the server, destroy it, and restore the server from the backup the next time you need it. This is one of the things Gamocosm does for you automatically. It is a tradeoff so you can have the insanely low prices :)</dd>
		</dl>
	</div>
</div>

