<div class="row">
	<div class="col-sm-12">
		<div class="jumbotron">
			<h1>Minecraft for friends.</h1>
			<p>Gamocosm is a server administration tool. It helps you host cloud servers.</p>
			<p>Cloud servers are charged by the hour. You only pay for what you use.</p>
			<p>Gamocosm is <%= link_to 'Free, Open Source Software', source_path %>.</p>
			<br />
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<p><%= link_to 'Sign up for Gamocosm', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><p>Solid State Drives</p></div>
				<div class="col-sm-4"><p>64 bit Fedora 20 (Linux)</p></div>
				<div class="col-sm-4"><p>OpenJDK 7 Java</p></div>
			</div>
			<div class="row">
				<div class="col-sm-4"><p>Full FTP and SSH access</p></div>
				<div class="col-sm-4"><p>Gigabit Ethernet</p></div>
				<div class="col-sm-4"><p>Mods and Plugins</p></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<h1 class="text-center">1. Sign up on Digital Ocean</h1>
	<p>
		Digital Ocean is the cloud hosting provider.
	</p>
</div>
<div class="row">
	<h1 class="text-center">2. Setup your account</h1>
	<p>
		Allow us to automate your servers on Digital Ocean.
	</p>
</div>
<br />
<div id="demo-servers" class="row">
	<h1 class="text-center">3. Play!</h1>
</div>
<div class="row">
	<div class="col-sm-12 well">
		<%= render partial: 'pages/screenshot_server_show' %>
	</div>
</div>
<br />
