<% title 'Terms of Service - Gamocosm' %>
<% content_for :meta_description, 'Gamocosm terms of service' %>
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Terms of Service</h1>
		</div>
		<p>
			Gamocosm is licensed under the <%= link_to 'GNU Public License V2', license_link %>.
			<br />
			By using Gamocosm, you also agree to Mojang's <a href="https://account.mojang.com/documents/minecraft_eula">Minecraft EULA</a>.
			<br />
			These terms may change at any time; it is your duty to keep up to date with them.
			<br />
			I'm not a lawyer; please don't be evil :)
		</p>
	</div>
</div>
