<div class="row">
	<div class="col-sm-12">
		<h1>The change you wanted was rejected</h1>
		<p>
			Maybe you tried to change something you didn't have access to.
			If you think this is an error, please <%= link_to 'let us know about it!', issues_path %>
		</p>
		<hr />
		<ul>
			<li><%= link_to 'Home page', root_path %></li>
			<% if user_signed_in? %>
				<li><%= link_to 'My servers', minecrafts_path %></li>
			<% end %>
		</ul>
	</div>
</div>
