body {
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Exo 2"/*"ocr-a-std"*/, sans-serif;
}

.navbar-brand {
	font-family: "Exo 2"/*"ocr-a-std"*/, sans-serif;
}

table {
	table-layout: fixed;
}

table.table-no_fixed {
	table-layout: auto;
}

dl.faq dd {
	margin-bottom: 16px;
}

.jumbotron {
	background-color: transparent;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

img.img-thumbnail {
	margin-bottom: 10px;
}

.container-fluid {
	background-color: #C8E6C9
}
