body {
	font-family: "Droid Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Sans Mono"/*"ocr-a-std"*/, sans-serif;
}

.navbar-brand {
	font-family: "Droid Sans Mono"/*"ocr-a-std"*/, sans-serif;
}
