$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 530px;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 270px;
	}
	@media (min-width: $screen-md-min) {
		margin-bottom: 230px;
	}
	@media (min-width: $screen-lg-min) {
		margin-bottom: 210px;
	}
}

footer#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #222;
	padding: 20px;

	height: 530px;
	@media (min-width: $screen-sm-min) {
		height: 270px;
	}
	@media (min-width: $screen-md-min) {
		height: 230px;
	}
	@media (min-width: $screen-lg-min) {
		height: 210px;
	}

	ul {
		list-style-type: none;

		a {
			color: inherit;
		}
	}
	li {
		margin-top: 5px;
	}
	p {
		text-align: center;
	}
}
