@import "variables";

.navbar-brand {
	font-family: $font-family-decorative;
}

.page-header {
	.basic-breadcrumb + h1 {
		margin-top: 0;
	}
}

.btn-reverse {
	&.btn-success {
		background-color: transparent;
		color: $btn-success-bg;
		border-width: 2px;
		border-style: solid;
		border-color: $btn-success-bg;
		text-decoration: none;

		&:hover, &:focus {
			background-color: $btn-success-bg;
			color: white;
			border-color: $btn-success-bg;
		}
		&:active {
			background-color: darken($btn-success-bg, 5%);
			border-color: darken($btn-success-bg, 5%);
		}
	}
}

table {
	table-layout: fixed;
}

table.table-no_fixed {
	table-layout: auto;
}

dl.faq dd {
	margin-bottom: 16px;
}

.minecraft_flavour-info.well {
	margin-bottom: 0;
	word-wrap: break-word;
	dl {
		margin-bottom: 0;
	}
}

.jumbotron {
	background-color: transparent;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

img.img-thumbnail {
	margin-bottom: 10px;
}

.container-fluid {
	background-color: #fafafa;/*#C8E6C9;*/
}

.panel {
	> .panel-heading {
		border: none;
	}

	> .panel-body *:last-child {
		margin-bottom: 0;
	}
}

// Useful for putting information snippets in button groups
.btn-fake {
	border-color: $btn-default-border;
	cursor: default;

	&:active {
		box-shadow: none;
	}
}

.form-group.integer,
.form-group.string,
.form-group.text {
	label {
		padding-left: $padding-base-horizontal;
	}

	label + div > .form-control {
		$label-space: $font-size-base + $padding-base-vertical + $padding-large-vertical;

		margin-top: -$label-space;
		padding-top: $label-space;
		height: auto;
	}
}

.form-group + .help-block {
	margin-top: -$padding-base-vertical;
}

.checkbox-pretty {
	&:hover {
		cursor: pointer;

		.indicator {
			color: $gray-dark;
		}
	}

	input[type="checkbox"] {
		display: none;
	}

	.indicator {
		width: $font-size-base + 7;
		margin-right: 3px;
		padding: 3px;
		border: 1px solid $gray-light;
		border-radius: $border-radius-small;
		color: $gray-light;
		display: none;
	}

	input[type="checkbox"]:checked ~ .if-checked {
		display: inline-block;
	}

	input[type="checkbox"]:not(:checked) ~ .if-not-checked {
		display: inline-block;
	}
}

.login-pane {
	margin-top: 50px;

	.btn {
		min-width: 70%;
	}
}

.devise-links {
	text-align: center;

	> a {
		display: inline-block;
		margin-right: $padding-small-horizontal;
	}

	// > a:last-child {
	// 	float: right;
	// 	margin-right: 0;
	// }
}

.control-panel {
	.info-box {
		display: inline-block;
		margin: $padding-base-vertical 0;
		padding-right: $padding-large-horizontal;
		border-radius: $border-radius-base;

		&:last-child {
			padding-right: 0;
		}

		h4 {
			display: inline-block;
			margin: 0;
			font-size: $font-size-base;
			padding-right: $padding-small-horizontal;
		}
	}
}

.friends-list {
	padding: 0;

	> li {
		list-style-type: none;
	}

	.friend {
		display: table;

		.email {
			display: table-cell;
			width: 100%;
		}
	}
}

.ftp-details {
	table-layout: auto;

	tr > *:first-child {
		min-width: 150px;
	}
}
