// Palette
$green: #59ae44;
$blue: #5596db;
$yellow: #ffc83e;
$red: #fa3b55;

$brand-primary: $green;
$brand-success: $green;
$brand-info: $blue;
$brand-warning: $yellow;
$brand-danger: $red;

$font-family-base: "Libre Franklin", "Helvetica Neue", Helvetica, sans-serif;
$font-family-decorative: "Bungee", sans-serif;
$headings-font-weight: 600;

$panel-default-border: #ddd;
$panel-default-heading-bg: transparent !default;

$navbar-default-bg: white !default;
$navbar-default-border: transparent !default;
$navbar-default-brand-color: $brand-primary;

.panel {
  box-shadow: 0 0 3px #ddd;
}

@import "bootstrap/variables";
