$brand-primary: #59ae44;

$font-family-base: "Libre Franklin", "Helvetica Neue", Helvetica, sans-serif;
$font-family-decorative: "Bungee", sans-serif;
$headings-font-weight: 600;

$panel-default-border: #ddd;
$panel-default-heading-bg: transparent !default;

$navbar-default-bg: white !default;
$navbar-default-border: transparent !default;
$navbar-default-brand-color: $brand-primary;

@import "bootstrap/variables";
