$brand-primary: #59ae44;

$panel-default-border: #ddd;

$navbar-default-bg: transparent !default;
$navbar-default-border: transparent !default;
$navbar-default-brand-color: $brand-primary;

$btn-info-bg: #8BC34A;
$btn-danger-bg: #3F51B5;

.panel {
  box-shadow: 0 0 3px #ddd;
}

@import "bootstrap/variables";
