<div id="gamocosm-cookies-alert" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Cookies and Data on Gamocosm</h4>
			</div>
			<div class="modal-body">
				<ul>
					<li>Gamocosm only uses cookies when strictly necessary (e.g. for remembering login status).</li>
					<li>Gamocosm does not do any tracking, analytics, marketing, etc.</li>
					<li>If you delete your account in <%= link_to 'your settings', edit_user_registration_path %>, all your data is permanently deleted.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
