<div class="container">
  <% flash.each do |name, msg| %>
    <div class="flash-container row">
      <div class="alert alert-dismissable alert-<%= if name == 'error' then 'danger' elsif name == 'notice' then 'info' else name end %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= raw msg %>
      </div>
    </div>
  <% end %>
</div>
