<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright text-muted small">Copyright Gamocosm 2014 -
<script language="JavaScript" type="text/javascript">
var today = new Date()
var year = today.getFullYear()
document.write(year)
</script>. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
